# Privates documents
.htaccess

# Temp and backups
*~
*.pyc

# GPG signatures
*.asc

# Ignored file types
*.json

# Examples scripts
git-crypt
camlmix
nano.last
pfnum
pwnat
youtube-dl
imagejs
CorutilsViewer
Marp
ulogme*
alacritty
charm
vpnc-script
rg
.bash_completion.d/rg.bash-completion
mdp
micro
ponysay
ponysay-tool
ponythink
pipsi
bandit*
*.AppImage
kaamelott-soundboard*
exa
emojione-picker
stacer
fzf
julia
julia-debug
fd
ls_color
epylint
isort
pylint
pyreverse
symilar
ngrok