# Privates documents
.htaccess

# Temp and backups
*~

# GPG signatures
*.asc
	
# Ignored file types
*.json

# Examples scripts
git-crypt
camlmix
nano.last
pfnum
pwnat
youtube-dl
imagejs
CorutilsViewer
Marp
ulogme*

rg
.bash_completion.d/rg.bash-completion
